#create-workout-form-container{
    width: 70%;
    margin: 0 auto;
    border: 2px solid #003c4c;
    background-color: #003c4c;
    padding: 5%;
    display: block;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.5);
}